{% extends 'main.html' %}
{% load static %}
{% block body %}
    <main class="settingsPage profile my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <div class="card text-center">
                        <div class="card__body dev">
                            <a class="tag tag--pill tag--main settings__btn" href="
{% url 'users:edit_account' %}?back=/account/"><i
                                    class="im im-edit"></i>
                                Edit</a>
                            {% if profile.image_url %}
                                <img class="avatar avatar--xl dev__avatar" src="{{ profile.image_url }}" alt="Avatar"/>
                            {% else %}
                                <img class="avatar avatar--xl dev__avatar" src=
                                        "{% static 'images/profiles/user-default.jpg' %}"
                                     alt="Avatar"/>
                            {% endif %}
                            <h2 class="dev__name">{{ profile.name }}</h2>
                            <p class="dev__title">{{ profile.short_intro }}</p>
                            <p class="dev__location">{{ profile.location }}</p>
                            <ul class="dev__social">
                                {% include "includes/socials.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column column--2of3">
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about">
                            {{ profile.bip }}
                        </p>
                    </div>
                    <div class="settings">
                        <h3 class="settings__title">Skills</h3>
                        <a class="tag tag--pill tag--sub settings__btn tag--lg" href="
{% url 'users:create_skill' %}?back=/account/"><i
                                class="im 
                        im-plus"></i> Add
                            Skill</a>
                    </div>

                    <table class="settings__table">
                        {% for skill in skills %}
                            <tr>
                                <td class="settings__tableInfo">
                                    <h4>{{ skill.name }}</h4>
                                    <p>
                                        {{ skill.description }}
                                    </p>
                                </td>
                                <td class="settings__tableActions">
                                    <a class="tag tag--pill tag--main settings__btn"
                                       href="{% url 'users:update_skill' skill.id %}?back=/account/"><i class="im
                                    im-edit"></i>
                                        Edit</a>
                                    <a class="tag tag--pill tag--main settings__btn"
                                       href="{% url 'users:delete_skill' skill.id %}?back=/account/"><i
                                            class="im im-x-mark-circle-o"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                    <div class="settings">
                        <h3 class="settings__title">Projects</h3>
                        <a class="tag tag--pill tag--sub settings__btn tag--lg"
                           href="{% url 'projects:create-project' %}?back=/account/"><i class="im
                        im-plus"></i> Add
                            Project</a>
                    </div>

                    <table class="settings__table">
                        {% for project in projects %}
                            <tr>
                                <td class="settings__thumbnail">
                                    <a href="{% url 'projects:project' project.id %}">
                                        {% if project.image_url %}
                                            <img src="{{ project.image_url }}" alt="Project Thumbnail"/>
                                        {% else %}
                                            <img src="{% static 'images/default.jpg' %}" alt="Project Thumbnail"/>
                                        {% endif %}
                                    </a>

                                </td>
                                <td class="settings__tableInfo">
                                    <a href="{% url 'projects:project' project.id %}">{{ project.title }}</a>
                                    <p>
                                        {{ project.description|slice:"150" }}
                                        {% if project.description|length > 150 %}
                                            ...
                                        {% endif %}

                                    </p>
                                </td>
                                <td class="settings__tableActions">
                                    <a class="tag tag--pill tag--main settings__btn"
                                       href="{% url 'projects:update-project' project.id %}?back=/account/"><i
                                            class="im
                                    im-edit"></i>
                                        Edit</a>
                                    <a class="tag tag--pill tag--main settings__btn"
                                       href="{% url 'projects:delete-project' project.id %}?back=/account/"><i
                                            class="im im-x-mark-circle-o"></i>
                                        Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
